INST "RAM_A<0>" TNM = "ram_add_cntrl";
INST "RAM_A<1>" TNM = "ram_add_cntrl";
INST "RAM_A<2>" TNM = "ram_add_cntrl";
INST "RAM_A<3>" TNM = "ram_add_cntrl";
INST "RAM_A<4>" TNM = "ram_add_cntrl";
INST "RAM_A<5>" TNM = "ram_add_cntrl";
INST "RAM_A<6>" TNM = "ram_add_cntrl";
INST "RAM_A<7>" TNM = "ram_add_cntrl";
INST "RAM_A<8>" TNM = "ram_add_cntrl";
INST "RAM_A<9>" TNM = "ram_add_cntrl";
INST "RAM_A<10>" TNM = "ram_add_cntrl";
INST "RAM_A<11>" TNM = "ram_add_cntrl";
INST "RAM_A<12>" TNM = "ram_add_cntrl";
INST "RAM_A<13>" TNM = "ram_add_cntrl";
INST "RAM_A<14>" TNM = "ram_add_cntrl";
INST "RAM_A<15>" TNM = "ram_add_cntrl";
INST "RAM_A<16>" TNM = "ram_add_cntrl";
INST "RAM_A<17>" TNM = "ram_add_cntrl";
INST "RAM_OE" TNM = "ram_add_cntrl";
INST "RAM_WE" TNM = "ram_add_cntrl";
INST "RAM1_CE" TNM = "ram_add_cntrl";
INST "RAM1_LB" TNM = "ram_add_cntrl";
INST "RAM1_UB" TNM = "ram_add_cntrl";
INST "RAM2_CE" TNM = "ram_add_cntrl";
INST "RAM2_LB" TNM = "ram_add_cntrl";
INST "RAM2_UB" TNM = "ram_add_cntrl";
INST "RAM1_D<0>" TNM = "ram_data";
INST "RAM1_D<1>" TNM = "ram_data";
INST "RAM1_D<2>" TNM = "ram_data";
INST "RAM1_D<3>" TNM = "ram_data";
INST "RAM1_D<4>" TNM = "ram_data";
INST "RAM1_D<5>" TNM = "ram_data";
INST "RAM1_D<6>" TNM = "ram_data";
INST "RAM1_D<7>" TNM = "ram_data";
INST "RAM1_D<8>" TNM = "ram_data";
INST "RAM1_D<9>" TNM = "ram_data";
INST "RAM1_D<10>" TNM = "ram_data";
INST "RAM1_D<11>" TNM = "ram_data";
INST "RAM1_D<12>" TNM = "ram_data";
INST "RAM1_D<13>" TNM = "ram_data";
INST "RAM1_D<14>" TNM = "ram_data";
INST "RAM1_D<15>" TNM = "ram_data";
INST "RAM2_D<0>" TNM = "ram_data";
INST "RAM2_D<1>" TNM = "ram_data";
INST "RAM2_D<2>" TNM = "ram_data";
INST "RAM2_D<3>" TNM = "ram_data";
INST "RAM2_D<4>" TNM = "ram_data";
INST "RAM2_D<5>" TNM = "ram_data";
INST "RAM2_D<6>" TNM = "ram_data";
INST "RAM2_D<7>" TNM = "ram_data";
INST "RAM2_D<8>" TNM = "ram_data";
INST "RAM2_D<9>" TNM = "ram_data";
INST "RAM2_D<10>" TNM = "ram_data";
INST "RAM2_D<11>" TNM = "ram_data";
INST "RAM2_D<12>" TNM = "ram_data";
INST "RAM2_D<13>" TNM = "ram_data";
INST "RAM2_D<14>" TNM = "ram_data";
INST "RAM2_D<15>" TNM = "ram_data";

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "B"  LOC = "R11"  ;
NET "BELL_PAD"  LOC = "E6"  ;
NET "CCLK"  LOC = "A14"  ;
NET "CLK50M"  LOC = "T9"  ;
NET "DIN"  LOC = "M11"  ;
NET "G"  LOC = "T12"  ;
NET "HS"  LOC = "R9"  ;
NET "KBDCLK"  LOC = "M16"  ;
NET "KBDDAT"  LOC = "M15"  ;
NET "PROBE"  LOC = "D9"  ;
NET "R"  LOC = "R12"  ;
NET "RAM1_CE"  LOC = "P7" | SLEW = FAST ;
NET "RAM1_D<0>"  LOC = "N7" | SLEW = FAST ;
NET "RAM1_D<10>"  LOC = "F2" | SLEW = FAST ;
NET "RAM1_D<11>"  LOC = "H1" | SLEW = FAST ;
NET "RAM1_D<12>"  LOC = "J2" | SLEW = FAST ;
NET "RAM1_D<13>"  LOC = "L2" | SLEW = FAST ;
NET "RAM1_D<14>"  LOC = "P1" | SLEW = FAST ;
NET "RAM1_D<15>"  LOC = "R1" | SLEW = FAST ;
NET "RAM1_D<1>"  LOC = "T8" | SLEW = FAST ;
NET "RAM1_D<2>"  LOC = "R6" | SLEW = FAST ;
NET "RAM1_D<3>"  LOC = "T5" | SLEW = FAST ;
NET "RAM1_D<4>"  LOC = "R5" | SLEW = FAST ;
NET "RAM1_D<5>"  LOC = "C2" | SLEW = FAST ;
NET "RAM1_D<6>"  LOC = "C1" | SLEW = FAST ;
NET "RAM1_D<7>"  LOC = "B1" | SLEW = FAST ;
NET "RAM1_D<8>"  LOC = "D3" | SLEW = FAST ;
NET "RAM1_D<9>"  LOC = "P8" | SLEW = FAST ;
NET "RAM1_LB"  LOC = "P6" | SLEW = FAST ;
NET "RAM1_UB"  LOC = "T4" | SLEW = FAST ;
NET "RAM2_CE"  LOC = "N5" | SLEW = FAST ;
NET "RAM2_D<0>"  LOC = "P2" | SLEW = FAST ;
NET "RAM2_D<10>"  LOC = "G1" | SLEW = FAST ;
NET "RAM2_D<11>"  LOC = "F5" | SLEW = FAST ;
NET "RAM2_D<12>"  LOC = "C3" | SLEW = FAST ;
NET "RAM2_D<13>"  LOC = "K2" | SLEW = FAST ;
NET "RAM2_D<14>"  LOC = "M1" | SLEW = FAST ;
NET "RAM2_D<15>"  LOC = "N1" | SLEW = FAST ;
NET "RAM2_D<1>"  LOC = "N2" | SLEW = FAST ;
NET "RAM2_D<2>"  LOC = "M2" | SLEW = FAST ;
NET "RAM2_D<3>"  LOC = "K1" | SLEW = FAST ;
NET "RAM2_D<4>"  LOC = "J1" | SLEW = FAST ;
NET "RAM2_D<5>"  LOC = "G2" | SLEW = FAST ;
NET "RAM2_D<6>"  LOC = "E1" | SLEW = FAST ;
NET "RAM2_D<7>"  LOC = "D1" | SLEW = FAST ;
NET "RAM2_D<8>"  LOC = "D2" | SLEW = FAST ;
NET "RAM2_D<9>"  LOC = "E2" | SLEW = FAST ;
NET "RAM2_LB"  LOC = "P5" | SLEW = FAST ;
NET "RAM2_UB"  LOC = "R4" | SLEW = FAST ;
NET "RAM_A<0>"  LOC = "L5" | SLEW = FAST ;
NET "RAM_A<10>"  LOC = "G5" | SLEW = FAST ;
NET "RAM_A<11>"  LOC = "H3" | SLEW = FAST ;
NET "RAM_A<12>"  LOC = "H4" | SLEW = FAST ;
NET "RAM_A<13>"  LOC = "J4" | SLEW = FAST ;
NET "RAM_A<14>"  LOC = "J3" | SLEW = FAST ;
NET "RAM_A<15>"  LOC = "K3" | SLEW = FAST ;
NET "RAM_A<16>"  LOC = "K5" | SLEW = FAST ;
NET "RAM_A<17>"  LOC = "L3" | SLEW = FAST ;
NET "RAM_A<1>"  LOC = "N3" | SLEW = FAST ;
NET "RAM_A<2>"  LOC = "M4" | SLEW = FAST ;
NET "RAM_A<3>"  LOC = "M3" | SLEW = FAST ;
NET "RAM_A<4>"  LOC = "L4" | SLEW = FAST ;
NET "RAM_A<5>"  LOC = "G4" | SLEW = FAST ;
NET "RAM_A<6>"  LOC = "F3" | SLEW = FAST ;
NET "RAM_A<7>"  LOC = "F4" | SLEW = FAST ;
NET "RAM_A<8>"  LOC = "E3" | SLEW = FAST ;
NET "RAM_A<9>"  LOC = "E4" | SLEW = FAST ;
NET "RAM_OE"  LOC = "K4" | SLEW = FAST ;
NET "RAM_WE"  LOC = "G3" | SLEW = FAST ;
NET "RST_SW"  LOC = "L14"  ;
NET "RSTPROM"  LOC = "N9"  ;
NET "RXD"  LOC = "T13"  ;
NET "SCL_PAD"  LOC = "C8"  ;
NET "SDA_PAD"  LOC = "C7"  ;
NET "SW0"  LOC = "F12"  ;
NET "SW1"  LOC = "G12"  ;
NET "SW2"  LOC = "H14"  ;
NET "SW3"  LOC = "H13"  ;
NET "TXD"  LOC = "R13"  ;
NET "VS"  LOC = "T10"  ;

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
